{% extends "layout.html" %}

{% block title %}

Jarvis

{% endblock %}


{% block head %}
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/jarvis-css.css">
    <script src="/static/fading-transition.js"></script>
</head>

    <script src="/static/nlp.js"></script>

{% endblock %}



{% block body %}
<body class="background">
    <div class="text">
        <p style="font-size: 6em">Hello</p>
        <p style="font-size: 4em;"> My name is JARVIS.</p>
        <p style="font-size: 5em">How may I assist you?</p>
    </div>
</body>
{% endblock %}